/* chanages back gorund color*/
body {
	background-color: white;
}


h1 {
	
	text-align: center;
	font-size: 60px;
	
	
	
}
/* style for the divs */
.Wikipedia {
	text-align: center;
	font-size: 24px;


}